*{
    margin: 0;
    padding: 0;
}

/* Imagem de fundo */
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%), url(../img/background.jpg);
    overflow: auto;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

/* Biszs */
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

/* HOME, SOBRE, SERVIÇOS */
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

/* LOGO DA LOJA, COR, FONTE, TAMANHO... */
.logo{
    color: #4b1c71;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

/* SELEÇÃO DO HOME, SOBRE, SERVIÇOS... */
.menu{
    width: 400px;
    float: left;
    height: 70px;    
}

/* POSIÇÃO DO HOME, SOBRE, SERVIÇOS...  */
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px; 
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #c49cd6;
}

/* Caixa de pesquisa */
.search{ 
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch::placeholder{
    color: #fff;
}

.srch{
    font-family: 'arial';
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid #4b1c71;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 15px;
    float: left;
    padding: 8px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 20%;
    height: 48px;
    background: #4b1c71;
    border: 2px solid #4b1c71;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #4b1c71;
    border:none;   
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: #c49cd6;
    transition: .3 ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #4b1c71;
    font-size: 60px;
}

.form{
    width: 240px;
    height: 380px;
    background-color: transparent;
    border: 3px solid #4b1c71;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 30px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #4b1c71;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #4b1c71;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #4b1c71;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background:#4b1c71;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: #4b1c71;
}

.btnn a{
    text-decoration: none;
    color: #c49cd6;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #c49cd6;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: #fff;
}

.icon ion-icon{
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
    transition: 0.3s ease;
    margin-left: 19px;

}

.icon ion-icon:hover{
    color: #c49cd6;
}